fast_simplification==0.2.0
ImageIO==2.37.4
lazy-loader==0.5
networkx==3.6.1
nibabel==5.4.2
numpy==2.5.3
packaging==26.3
pillow==12.3.0
pydicom==3.0.2
scikit-image==0.26.0
scipy==1.18.1
simpleitk==2.5.6
tifffile==2026.9.9
trimesh==5.1.0
